@import url('https://fonts.googleapis.com/css?family=Inconsolata');
.landing-wrapper{
    background-color: #fff;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.landing-left{
    grid-column: span 2;
    min-height: 100%;
    background-image: url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.landing-left div{
    margin-top: 150px;
    margin-left:100px;
    margin-right: 50px;
}
.landing-right{
    grid-column: 3 / 4;
    min-height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141414;
}
.landing-left p{
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Open-sans', sans-serif;
    text-align: right;
    padding-top: 50px;
    font-size: 1.4rem;
}
.landing-left h1{
    font-family: 'Inconsolata', monospace;
    font-size: 3.5rem;
    color: #013243;
    text-align: right;
}
.my-image{
    position: relative;
    background-color: #141414;
    width: 350px;
    height: 350px;
    background-image: url('/assets/my-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-attachment: absolute fixed;
    border-radius: 50%;
}
.scroll-image{
    position: absolute;
    bottom:30px;
    left:50%;
    margin-left: -32px;
    width: 64px;
    height: 64px;
    background-image: url('/assets/scroll.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
@media only screen and (max-width: 768px){
    .landing-right{
        display: none;
    }
    .landing-left{
        grid-column: span 3;
    }
    .landing-left div{
        margin-top: 100px;
        margin-left:20px;
        margin-right: 20px;
    }
    .landing-left h1{
        font-size: 2.8rem
    }
}